<div class="component-container">
    <div class="cart-list-item">
        <div class="poster">
            <img [src]="posterBaseUrl + '/w185' + movie.poster_path" alt="">
        </div>
        <div class="info">
            <h2>Ingresso</h2>
            <h3>FILME: {{movie.title}}</h3>
            <p>R$20,00</p>
        </div>
    </div>

    <div class="info-container">
        <div class="info-wrapper">
            <h2>Subtotal</h2>
            <p>R$ 20,00</p>
        </div>
        <div class="info-wrapper">
            <h2>Frete</h2>
            <p>R$ 10,00</p>
        </div>
        <div class="info-wrapper total">
            <h2>Total</h2>
            <p>R$ 30,00</p>
        </div>
    </div>
</div>
