<div class="component-container">
    <div class="links-wrapper">
        <div class="col-links">
            <img src="/assets/imgs/logo.png" alt="Logo Image">
            <p>Street addresses: 455 Mount Eden Road, Mount Eden, Auckland - Postcodes 5022</p>
        </div>

        <div class="col-links">
            <h1>Sobre Nós</h1>
            <a href="#"><p>Perfil</p></a>
            <a href="#"><p>Sobre</p></a>
            <a href="#"><p>Contato</p></a>
        </div>

        <div class="col-links">
            <h1>Redes Sociais</h1>
            <a href="#"><p>Twitter</p></a>
            <a href="#"><p>Instagram</p></a>
            <a href="#"><p>Linkedin</p></a>
        </div>

        <div class="col-links">
            <h1>Contato</h1>
            <a href="#"><p>FAQ</p></a>
            <a href="#"><p>Sitemap</p></a>
            <a href="#"><p>Dúvidas</p></a>
        </div>
    </div>

    <div class="social-wrapper">
        <h2>Nossas Redes</h2>
        <div class="btns-container">
            <a href="#"><img src="/assets/imgs/instagram_logo.png" alt="Instagram"></a>
            <a href="#"><img src="/assets/imgs/twitter_logo.png" alt="Twitter"></a>
            <a href="#"><img src="/assets/imgs/linkedin_logo.png" alt="Linkedin"></a>
        </div>
    </div>

    <div class="copyrights-wrapper">
        <a href=""><p>Contact Us</p></a>
        <a href=""><p>Copyright &copy; 2019, Template</p></a>
    </div>
</div>
