<div class="component-container">
    <div class="select-wrapper" (click)="toggleActive()" [ngClass]="{'selected': isSelected}">
        {{label}}

        <div class="options-wrapper" *ngIf="isSelectActive">
            <div class="select-option" *ngFor="let option of options" (click)="selectOption(option)">{{option}}</div>
        </div>

        <div class="dropdown">
            <img src="/assets/imgs/down-arrow.png" alt="" [ngClass]="{'rotate': isSelectActive}">
        </div>
    </div>
</div>
