@font-face {
  font-family: gothamBold;
  src: url("/assets/fonts/gotham-bold.ttf");
}

@font-face {
  font-family: gothamBook;
  src: url("/assets/fonts/gotham-book.ttf");
}

@font-face {
  font-family: gothamMedium;
  src: url("/assets/fonts/gotham-medium.ttf");
}
