* {
  //COLORS

  --main-background-color: #FBFBFB;
  --primary-color: #1d509e;
  --dark-color: #1D1D1D;
  --medium-color: #5D5D5D;
  --light-color: #EDEDED;

  //NUMBERS
  --max-content-width: 75%;
}

@media screen and (max-width: 900px) {
  * {
    --max-content-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  * {
    --max-content-width: 99%;
  }
}
