* {
  //COLORS

  --main-background-color: #FBFBFB;
  --primary-color: #0A33A8;
  --dark-color: #1D1D1D;
  --medium-color: #5D5D5D;
  --light-color: #EDEDED;

  //NUMBERS
  --max-content-width: 75%;
}
