<div class="component-container">

    <h1>Formulário</h1>

    <div class="content-wrapper">
        {{checkoutForm.valid}}
        {{isFormValid()}}
        <div class="dados-container">
            <div class="subtitle-header">
                <h2>Dados Pessoais</h2>
            </div>

            <form [formGroup]="checkoutForm" novalidate>
                <div class="row">
                    <div class="col col-50">
                        <input type="text" formControlName="primeiroNome" placeholder="Primeiro nome"/>
                    </div>

                    <div class="col col-50">
                        <input type="text" formControlName="ultimoNome" placeholder="Último nome"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <input type="text" formControlName="cpf" placeholder="CPF"
                               [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}"/>
                    </div>

                    <div class="col col-50">
                        <input type="text" formControlName="dtNascimento" placeholder="Data de nascimento"
                               [brmasker]="{mask:'00/00/0000', type:'num', len:10}"/>
                    </div>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="email" placeholder="Email"/>
                </div>

                <!--                DADOS ACOMPANHANTE-->
                <ng-container *ngIf="checkoutForm.value.addAcompanhante">
                    <form [formGroup]="acompanhanteForm">
                        <h3 class="title-fieldgroup">Dados acompanhante</h3>

                        <div class="row">
                            <div class="col col-50">
                                <input type="text" formControlName="primeiroNomeAcompanhante"
                                       placeholder="Primeiro nome"
                                       [brmasker]="{type:'alfa'}"/>
                            </div>

                            <div class="col col-50">
                                <input type="text" formControlName="ultimoNomeAcompanhante" placeholder="Último nome"
                                       [brmasker]="{type:'alfa'}"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-50">
                                <input type="text" formControlName="cpfAcompanhante" placeholder="CPF"
                                       [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}"/>
                            </div>

                            <div class="col col-50">
                                <input type="text" formControlName="dtNascimentoAcompanhante"
                                       placeholder="Data de nascimento"
                                       [brmasker]="{mask:'00/00/0000', type:'num', len:10}"/>
                            </div>
                        </div>

                        <div class="row">
                            <input class="ipt-ext" type="text" formControlName="emailAcompanhante" placeholder="Email"/>
                        </div>
                    </form>
                </ng-container>
                <!--                FIM DADOS ACOMPANHANTE-->

                <div class="checkbox-wrapper">
                    <input type="checkbox" id="add-acompanhante" formControlName="addAcompanhante"/>
                    <label for="add-acompanhante">Adicionar acompanhante?</label>
                </div>

                <h3 class="title-fieldgroup">Dados da Entrega</h3>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="cep" placeholder="CEP" (change)="getAddress()"/>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="endereco" placeholder="Endereço"/>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <app-custom-select [label]="'País'" [options]="['Brasil']"></app-custom-select>
                    </div>
                    <div class="col col-50">
                        <app-custom-select [label]="'Estado'" [options]="estados"
                                           (selectedOption)="getSelectedOption($event)"></app-custom-select>
                    </div>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="cidade" placeholder="Cidade"/>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="telefone" placeholder="Telefone"
                           [brmasker]="{phone: true}"/>
                </div>

                <button class="btn-enviar" (click)="enviarReserva()" [disabled]="!isFormValid()">Enviar</button>
            </form>
        </div>

        <div class="cart-container">
            <div class="subtitle-header">
                <h2>Seu ingresso</h2>
            </div>

            <app-cart [movie]="filmeSelecionado"></app-cart>
        </div>
    </div>
</div>
