<div class="component-container">

    <h1>Formulário</h1>

    <div class="content-wrapper">
        <div class="dados-container">
            <div class="subtitle-header">
                <h2>Dados Pessoais</h2>
            </div>

            <form [formGroup]="checkoutForm">
                <div class="row">
                    <div class="col col-50">
                        <input type="text" formControlName="primeiroNome" placeholder="Primeiro nome"/>
                    </div>

                    <div class="col col-50">
                        <input type="text" formControlName="ultimoNome" placeholder="Último nome"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <input type="text" formControlName="cpf" placeholder="CPF"/>
                    </div>

                    <div class="col col-50">
                        <input type="text" formControlName="dtNascimento" placeholder="Data de nascimento"/>
                    </div>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="email" placeholder="Email"/>
                </div>

                <!--                DADOS ACOMPANHANTE-->
                <ng-container *ngIf="checkoutForm.value.addAcompanhante">
                    <h3 class="title-fieldgroup">Dados acompanhante</h3>

                    <div class="row">
                        <div class="col col-50">
                            <input type="text" formControlName="primeiroNomeAcompanhante" placeholder="Primeiro nome"/>
                        </div>

                        <div class="col col-50">
                            <input type="text" formControlName="ultimoNomeAcompanhante" placeholder="Último nome"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-50">
                            <input type="text" formControlName="cpfAcompanhante" placeholder="CPF"/>
                        </div>

                        <div class="col col-50">
                            <input type="text" formControlName="dtNascimentoAcompanhante"
                                   placeholder="Data de nascimento"/>
                        </div>
                    </div>

                    <div class="row">
                        <input class="ipt-ext" type="text" formControlName="emailAcompanhante" placeholder="Email"/>
                    </div>
                </ng-container>
                <!--                FIM DADOS ACOMPANHANTE-->

                <div class="checkbox-wrapper">
                    <input type="checkbox" id="add-acompanhante" formControlName="addAcompanhante"/>
                    <label for="add-acompanhante">Adicionar acompanhante?</label>
                </div>

                <h3 class="title-fieldgroup">Dados da Entrega</h3>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="cep" placeholder="CEP" (change)="getAddress()"/>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="endereco" placeholder="Endereço"/>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <!--                        TODO CUSTOM SELECT CONTAINER-->
                        <app-custom-select [label]="'País'"></app-custom-select>
                    </div>
                    <div class="col col-50">
                        <!--                        TODO CUSTOM SELECT CONTAINER-->
                        <app-custom-select [label]="'Estado'"></app-custom-select>
                    </div>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="cidade" placeholder="Cidade"/>
                </div>

                <div class="row">
                    <input class="ipt-ext" type="text" formControlName="telefone" placeholder="Telefone"/>
                </div>

                <button class="btn-enviar" type="submit">Enviar</button>
            </form>
        </div>

        <div class="cart-container">
            <div class="subtitle-header">
                <h2>Seu ingresso</h2>
            </div>

            <app-cart></app-cart>
        </div>
    </div>
</div>
