<div class="component-container">
    <h1>Seja bem-vindo,</h1>
    <h2>Escolha um filme para reservar seu ingresso</h2>

    <div class="content-wrapper">
        <div class="movie-card" *ngFor="let movie of movies" [routerLink]="['/ticket-checkout', movie.id]">
            <div class="movie-poster">
                <img [src]="posterBaseUrl + '/w185' + movie.poster_path" alt="">
            </div>
            <div class="movie-info">
                <p>{{movie.title}}</p>
            </div>
        </div>
    </div>
</div>
